<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="person1"
          class="ru.anikeeva.weeknumberone.tothebttom.Person">
        <constructor-arg index="0" value="Sponge bob"/>
        <constructor-arg index="1" value="39"/>
    </bean>

    <bean id="person2"
          class="ru.anikeeva.weeknumberone.tothebttom.Person">
        <constructor-arg index="0" value="Patrick"/>
        <constructor-arg index="1" value="39"/>
    </bean>

    <bean id="person3"
          class="ru.anikeeva.weeknumberone.tothebttom.Person">
        <constructor-arg index="0" value="Squidward"/>
        <constructor-arg index="1" value="47"/>
    </bean>


    <bean id = "frogge" class = "ru.anikeeva.weeknumberone.huntingseason.Frog">
        <constructor-arg value="Frogge"/>
    </bean>

    <bean id = "goatee" class = "ru.anikeeva.weeknumberone.huntingseason.Goat">
        <constructor-arg value="Goatee"/>
    </bean>

    <bean id = "goossee" class = "ru.anikeeva.weeknumberone.huntingseason.Goosse">
        <constructor-arg value="Goossee"/>
    </bean>


</beans>